<!-- $body_class tm-guides -->
<!-- @include _head -->
<!-- @include _header -->
main
    div.uk-container.uk-container-center.tm-dark
        article itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="text"
            div.uk-text-center.uk-margin-large-bottom
                h1.uk-margin-small-bottom itemprop="headline" Setup Guides
                h2.uk-margin-small-top.uk-margin-bottom-remove Below is a list of our comprehensive setup guides.

            div.uk-grid.uk-grid-width-1-1.uk-grid-width-medium-1-2.uk-margin-large-bottom
                div.tm-links.uk-text-right
                    h3 Blocks
                    <a href="<!-- @path guides/features.html -->">Features</a>
                    <a href="<!-- @path guides/gallery.html -->" class="btn">Gallery</a>
                    <a href="<!-- @path guides/contact.html -->" class="btn">Contact</a>
                    <a href="<!-- @path guides/testimonials.html -->" class="btn">Testimonials</a>
                    <a href="<!-- @path guides/mailchimp.html -->" class="btn">Mailchimp</a>
                    <a href="<!-- @path guides/toolkit.html -->" class="btn">Toolkit</a>

                div.tm-links
                    h3 Templates
                    <a href="<!-- @path guides/launch.html -->" class="btn">Launch</a>
                    <a href="<!-- @path guides/spark.html -->" class="btn">Spark</a>

<!-- @include _footer -->
