<!-- $body_class tm-features -->
<!-- @include _head -->
<!-- @include _header -->
<main>
    <div class="uk-container uk-container-center tm-dark">
        <article itemscope="" itemtype="http://schema.org/Product" itemprop="text">
            <div class="uk-text-center uk-margin-large-bottom">
                <img src="<!-- @path icon-templates.svg -->" alt="Features Block for Headway" />
                <h1 class="uk-margin-small-bottom" itemprop="headline">Minimalist</h1>
                <h2 class="uk-margin-small-top uk-margin-bottom-remove">Ultra minimal template for Headway</h2>
                <div class="tm-actions">
                    <a href="#" class="tm-button tm-button-large tm-button-primary">Pricing</a>
                    <a href="#" class="tm-button tm-button-large tm-button-primary">Demo</a>
                </div>
            </div>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-3 uk-margin-large-bottom">
                <div>
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
            </div>
            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-3 uk-margin-large-bottom">
                <div>
                    <h3>Screenshots</h3>
                    <div class=" uk-grid-width-1-1 uk-grid-width-medium-1-3">
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                    </div>
                </div>
                <div>
                    <h3>Videos</h3>
                    <div class=" uk-grid-width-1-1 uk-grid-width-medium-1-3">
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img src="<!-- @path placeholder.jpg -->" alt="Alt" width="" height="" />
                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-overlay-slide-top"></div>
                            <a class="uk-position-cover" href="#" title=""></a>
                        </figure>
                    </div>
                </div>
                <div>
                    <h3>In the wild</h3>
                    <a href="#">Name</a>
                    <a href="#">Name</a>
                    <a href="#">Name</a>
                    <a href="#">Name</a>
                    <a href="#">Name</a>
                    <a href="#">Name</a>
                </div>
        </article>
    </div>
</main>
<!-- @include _footer -->
